*, *::before, *::after {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html, body {
  width: 400px;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 600px;
  background-color: #fff9fd;
  padding: 10px;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  color: #333;
  margin: 0;
  text-align: center;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 15px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  resize: vertical;
}

textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 nút mỗi hàng */
  gap: 8px;
  margin: 10px 0;
}

button {
  padding: 15px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-size: 200% 100%;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  background-position: right center;
}

#btnPaste {
  background-image: linear-gradient(to right, #ff9800, #f57c00, #ff9800);
}

#btnRemove {
  background-image: linear-gradient(to right, #007bff, #0056b3, #007bff);
}

#btnDecode {
  background-image: linear-gradient(to right, #28a745, #1e7e34, #28a745);
}

#btnFix {
  background-image: linear-gradient(to right, #d82c20, #b21f1f, #d82c20);
}

#btnConvert {
  background-image: linear-gradient(to right, #6a11cb, #2575fc, #6a11cb);
}

#btnClear {
  background-image: linear-gradient(to right, #ffc107, #ff8f00, #ffc107);
}

.btn-copy {
    background-image: linear-gradient(to right, #17a2b8, #117a8b, #17a2b8);
    margin-top: 10px;
}

#output {
  width: 100%;
  padding: 20px;
  font-size: 18px;
  color: #333;
  border: 2px dashed #ddd;
  border-radius: 10px;
  min-height: 60px;
  text-align: center;
  word-wrap: break-word;
  background-color: #f8f9fa;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
  color: #0056b3;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}